<div
  class="max-h-auto min-h-screen bg-gradient-to-br from-white via-slate-100 to-slate-300"
>
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-2 grid-rows-1 max-w-screen-lg">
      <div class="col-start-1 row-start-1 mx-auto flex flex-col">
        <div class="my-8">
          <h1
            class="bg-gradient-to-b from-[#006767] via-[#04a1a1] to-[#019090] text-transparent bg-clip-text font-bold text-xl"
          >
            Logo
          </h1>
          <h2
            class="p-2 text-center font-bold text-4xl bg-gradient-to-b from-[#006767] via-[#04a1a1] to-[#019090] text-transparent bg-clip-text"
          >
            Sign Up
          </h2>

          <!-- Bind the formGroup here -->
          <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
            <div class="field m-2">
              <label for="name" class="block font-bold text-grey my-1 mx-2"
                >Full Name</label
              >
              <!-- Bind the formControlName -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
                />
              </svg>

              <input
                type="text"
                placeholder="Enter your full Name"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
                formControlName="name"
              />
              <!-- Display validation errors for 'name' -->
              <div
                *ngIf="
                  signupForm.get('name')?.invalid &&
                  (signupForm.get('name')?.dirty ||
                    signupForm.get('name')?.touched)
                "
              >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('name')?.errors?.['required']"
                  >Full Name is required.</small
                >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('name')?.errors?.['minlength']"
                  >Name must be at least 4 characters long.</small
                >
              </div>
            </div>

            <div class="field m-2">
              <label for="email" class="block font-bold text-grey my-1 mx-2"
                >Email</label
              >
              <!-- Bind the formControlName -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                />
              </svg>

              <input
                type="email"
                placeholder="Enter your email"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
                formControlName="email"
              />
              <!-- Display validation errors for 'email' -->
              <div
                *ngIf="
                  signupForm.get('email')?.invalid &&
                  (signupForm.get('email')?.dirty ||
                    signupForm.get('email')?.touched)
                "
              >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('email')?.errors?.['required']"
                  >Email is required.</small
                >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('email')?.errors?.['email']"
                  >Please enter a valid email.</small
                >
              </div>
            </div>

            <div class="field m-2">
              <label for="contact" class="block font-bold text-grey my-1 mx-2"
                >Contact</label
              >
              <!-- Bind the formControlName -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z"
                />
              </svg>

              <input
                type="number"
                placeholder="Enter your contact"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
                formControlName="contact"
              />
              <!-- Display validation errors for 'contact' -->
              <div
                *ngIf="
                  signupForm.get('contact')?.invalid &&
                  (signupForm.get('contact')?.dirty ||
                    signupForm.get('contact')?.touched)
                "
              >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('contact')?.errors?.['required']"
                  >Contact is required.</small
                >
              </div>
            </div>

            <div class="field m-2">
              <label for="password" class="block font-bold text-grey my-1 mx-2"
                >Password</label
              >
              <!-- Bind the formControlName -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
                />
              </svg>

              <input
                type="password"
                placeholder="Enter your password"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
                formControlName="password"
              />
              <!-- Display validation errors for 'password' -->
              <div
                *ngIf="
                  signupForm.get('password')?.invalid &&
                  (signupForm.get('password')?.dirty ||
                    signupForm.get('password')?.touched)
                "
              >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('password')?.errors?.['required']"
                  >Password is required.</small
                >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('password')?.errors?.['minlength']"
                  >Password must be at least 8 characters long.</small
                >
              </div>
            </div>

            <div class="field m-2">
              <label
                for="confirm-password"
                class="block font-bold text-grey my-1 mx-2"
                >Confirm Password</label
              >
              <!-- Bind the formControlName -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
                />
              </svg>

              <input
                type="password"
                placeholder="Re enter your password"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
                formControlName="confirmPassword"
              />
              <!-- Display validation errors for 'confirmPassword' and custom 'passwordMismatch' -->
              <div
                *ngIf="
                  signupForm.get('confirmPassword')?.invalid &&
                  (signupForm.get('confirmPassword')?.dirty ||
                    signupForm.get('confirmPassword')?.touched)
                "
              >
                <small
                  class="text-red-500"
                  *ngIf="signupForm.get('confirmPassword')?.errors?.['required']"
                  >Confirm Password is required.</small
                >
              </div>
              <div
                *ngIf="signupForm.errors?.['passwordMismatch'] && (signupForm.get('confirmPassword')?.dirty || signupForm.get('confirmPassword')?.touched)"
              >
                <small class="text-red-500">Passwords do not match.</small>
              </div>
            </div>

            <div class="text-center">
              <button
                type="submit"
                class="py-3 px-24 rounded-2xl bg-gradient-to-r from-[#006666] via-[#088f8f,#009090] to-[#006666] text-white font-semibold"
                [disabled]="signupForm.invalid"
              >
                Sign Up
              </button>
              <p class="font-semibold">
                Already have an account?
                <span class="text-[#016969]">Login</span>
              </p>
            </div>
          </form>
        </div>
      </div>
      <div class="col-start-2 row-start-1 grid place-items-center">
        <div class="overflow-hidden h-5/6 w-4/5">
          <img
            src="../../../assets/sign_up.png"
            alt=""
            srcset=""
            class="object-cover w-full h-full rounded-3xl"
          />
        </div>
      </div>
    </div>
  </div>
</div>
