<div class="flex">
<div class="relative w-full">
            <input type="search" id="search-dropdown" class="block w-96 z-20 text-sm text-gray-900 rounded-lg border-2  border-gray-300 focus:ring-slate-500 focus:border-slate-300  dark:placeholder-gray-400 " placeholder="Search Mockups, Logos, Design Templates..." required />
            <button type="submit" class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-[#868686] rounded-e-lg focus:outline-none focus:ring-slate-400">
                <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                </svg>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </div>