<div
  class="max-h-auto min-h-screen bg-gradient-to-br from-white via-slate-100 to-slate-300"
>
  <div class="flex items-center justify-center">
    <div class="grid grid-cols-2 grid-rows-1 max-w-screen-lg h-[40rem]">
      <div class="col-start-1 row-start-1 mx-auto flex flex-col my-auto">
        <div class="my-8">
          <h1
            class="bg-gradient-to-b from-[#006767] via-[#04a1a1] to-[#019090] text-transparent bg-clip-text font-bold text-xl"
            >
            CarKeyper
          </h1>
          <h2
            class="p-2 text-center font-bold text-4xl bg-gradient-to-b from-[#006767] via-[#04a1a1] to-[#019090] text-transparent bg-clip-text"
          >
            Login
          </h2>
          <form>
            <div class="field m-5">
              <label for="email" class="block font-bold text-grey my-1 mx-2"
                >Email</label
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75"
                />
              </svg>

              <input
                type="email"
                placeholder="Enter your email"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
              />
            </div>
            <div class="field m-5">
              <label for="password" class="block font-bold text-grey my-1 mx-2"
                >Password</label
              >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 absolute min-w-10 text-green-950 mt-3"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z"
                />
              </svg>
              <input
                type="password"
                placeholder="Enter your password"
                class="px-3 pl-8 py-1 w-96 h-12 border-2 border-gray-300 rounded-xl"
              />
            </div>
            <div class="text-center">
              <button
                class="py-3 px-24 rounded-2xl bg-gradient-to-r from-[#006666] via-[#088f8f,#009090] to-[#006666] text-white font-semibold"
              >
                Login
              </button>
            </div>
          </form>
          
        </div>
      </div>
      <div class="col-start-2 row-start-1 grid place-items-center">
        <div class="overflow-hidden h-4/5 w-4/5">
          <img
            src="../../../assets/sign_up.png"
            alt=""
            srcset=""
            class="object-cover w-full h-full rounded-3xl"
          />
        </div>
      </div>
    </div>
  </div>
</div>
